.rmprof-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: white;
  padding: 1.5rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 500px;
}

.input-row {
  display: flex;
  gap: 0.5rem;
}

.input-row input {
  flex: 1;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.input-row button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.chips-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.chip {
  background: #e5e7eb;
  border-radius: 9999px;
  padding: 0.3rem 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.btn-ok{
  background-color: #114f5a;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  margin-left: 1vh;
  padding: 0.5em 1.5em;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: background 0.2s ease, color 0.2s ease;
}

.btn-ok:hover {
  background-color: #2ab1b8;
}


.remove-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: bold;
  height: 25px;
  width: 20px;
  color: #ef4444;
}

