.buscador-admin{
  width: 100%;
  max-width: 600px;
  min-height: 60px;
  border-radius: 20px;
  padding: 0 20px;
  color: #114f5a;
  font-style: italic;
  border: 1px solid #fff;
  font-size: 1rem;
  background-color: #ffffff;
  transition: all 0.2s ease-in-out;
}

.buscador-admin::placeholder {
  color: #114f5a84;
}

.btn-buscar{
  background-color: #114f5a;
  color: #fff;
  display: inline-flex;
  align-items: center;
  text-align: center;
  gap: 0.5em;
  margin-top: 1vh;
  padding: 0.5em 1.5em;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: 500;
  width: 20%;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: background 0.2s, color 0.2s, border 0.2s;
}

.btn-buscar:hover{
  background: #2ab1b8;
  color: #fff;
  border-color: #2ab1b8;
}