.container_pagetrabajos {
  padding: 130px 50px;
}

.container_trabajos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.trabajos_pendientes_finalizados_container {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #2b2b2b;
}

hr {
  width: 100%;
}

.titulo_trabajos {
  padding-left: 20px;
}

.btns_adelantar_atrasar {
  margin-left: 20px;
  gap: 5px;
  display: flex;
  flex-direction: row;
}

.btn_atrasar {
  margin-bottom: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #114f5ac4;
  color: #ffffff7d;
  cursor: pointer;
  transition: background 0.2s;
  width: 40px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_adelantar {
  margin-bottom: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #114f5ac4;
  color: #ffffff7d;
  cursor: pointer;
  transition: background 0.2s;
  width: 40px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parrafo_aviso {
  padding-left: 20px;
  padding-bottom: 10px;
}

.btn_atrasar:hover {
  background-color: #114f5a;
  color: #ffffff7d;
}

.btn_adelantar:hover {
  background-color: #114f5a;
  color: #ffffff7d;
}

.btn_atrasar:disabled {
  background-color: #383c3c7f;
  color: #ffffff7d;
}

.btn_adelantar:disabled {
  background-color: #383c3c7f;
  color: #ffffff7d;
}