.container_pagetrabajos {
  padding: 130px 50px;
}

.container_trabajos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.trabajos_pendientes_finalizados_container {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #2b2b2b;
}

hr {
  width: 100%;
}

.titulo_trabajos {
  padding-left: 20px;
}

.parrafo_aviso {
  padding-left: 20px;
  padding-bottom: 10px;
}

.btns_adelantar_atrasar {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.btn_atrasar,
.btn_adelantar {
  width: 40px;
  height: 30px;
  border-radius: 10px;
  padding: 0 8px;
  background-color: #114f5a44;
  color: #114f5a;
  border: 1px solid #114f5a;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_atrasar:hover,
.btn_adelantar:hover {
  background-color: #114f5a7a;
  color: #fff;
}

.btn_atrasar:disabled,
.btn_adelantar:disabled {
  color: #ffffff99;
  cursor: not-allowed;
}

/* Tablets (≤ 1024px) */
@media (max-width: 1024px) {
  .container_pagetrabajos {
    padding: 120px 30px;
  }

  .trabajos_pendientes_finalizados_container {
    padding-bottom: 10px;
  }
}

/* Celulares grandes (≤ 768px) */
@media (max-width: 768px) {
  .container_pagetrabajos {
    padding: 110px 20px;
  }

  .container_trabajos {
  margin-top: 120px;
}

  .titulo_trabajos {
    padding-left: 10px;
    font-size: 1.3rem;
  }

  .btns_adelantar_atrasar {
    justify-content: center;
    margin-left: 0;
    padding: 10px 0;
  }

  .trabajos_pendientes_finalizados_container {
    border-radius: 15px;
  }
}

/* Celulares chicos (≤ 480px) */
@media (max-width: 480px) {
  .container_pagetrabajos {
    padding: 100px 10px;
  }

  .container_trabajos {
  margin-top: 120px;
}

  .titulo_trabajos {
    font-size: 1.15rem;
  }

  .parrafo_aviso {
    padding-left: 10px;
    font-size: 0.95rem;
  }

  .btn_atrasar,
  .btn_adelantar {
    width: 35px;
    height: 22px;
  }

  .trabajos_pendientes_finalizados_container {
    padding-bottom: 15px;
  }
}