h3 {
  margin-top: 0vh;
  margin-bottom: 0px;
}

.nombre_foto_perfil {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.foto_perfil {
  max-height: 50px;
  width: auto;
  border-radius: 60%;
  border: 1px solid #114f5a;
  box-shadow: 0px 0px 10px #466b71;
}

.usuario_info {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.ubicacion {
  color: #3f6066;
}

.profile_container {
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  font-family: "Inter", sans-serif;
  color: #0a2b2b;
}

.profile_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f7faf9;
  border-radius: 16px;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.avatar {
  width: 80px;
  height: 80px;
  background: #cfd8dc;
  border-radius: 50%;
}

.profile_info h3 {
  margin: 0;
}

.profile_info p {
  margin: 0.3rem 0;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

.btn_secondary {
  background: #0B5357;
  border: none;
  color: #f9f8f3;
  padding: 0.4rem 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.btn_secondary:hover {
  background: #06363a;
  text-decoration: none;
  color: #f9f8f3;
}

.btn_direccion {
  background: #114f5a;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, border 0.2s;
}

.btn_direccion:hover {
  background-color: #2ab1b8;
}

.botones_verticales {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 1rem;
}

.profile_section {
  background: #fff;
  margin-top: 1rem;
  padding: 1.2rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
}

.profile_section h4 {
  margin-bottom: 0.5rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}

.skill_tag {
  background: #f0f5f5;
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.review_item {
  display: flex;
  justify-content: space-between;
}

.stars {
  color: #0a6630;
  font-weight: bold;
}

.saludo {
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2rem;
}

.btn_contratado {
  box-sizing: border-box;
  position: fixed;
  right: 50px;
  bottom: 50px;
  height: 50px;
  width: 140px;
  background-color: #114f5a;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: 0px 0px 20px #9db7bd;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.btn_contratado:hover {
  background-color: #a3c1c0;
  box-shadow: 0px 0px 20px #51737b;
  color: #114f5a;

}

@media (max-width: 780px) {
  .profile_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .usuario_info h3 {
    align-items: left;
    margin-left: 0;
  }

  .profile_header {
    width: 90%;
    margin-bottom: 1rem;
  }

  .profile_info {
    margin-top: 1rem;
    width: 100%;
  }

  .botones_verticales {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 1rem;
  }

  .btn_direccion {
    width: auto;
    min-width: 160px;
    text-align: center;
  }

  .profile_section {
    width: 90%;
    max-width: 600px;
    margin: 1vh;
  }
}