h3 {
  margin-top: 0vh;
  margin-bottom: 0px;
}

.nombre_foto_perfil {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.foto_perfil {
  min-height: 80px;
  min-width: 80px;
  border-radius: 60%;
  border: 1px solid #114f5a;
  box-shadow: 0px 0px 10px #466b71;
  object-fit: cover;
}

.usuario_info {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.ubicacion {
  color: #3f6066;
}

.profile_container {
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  font-family: "Inter", sans-serif;
  color: #0a2b2b;
}

.profile_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f7faf9;
  border-radius: 16px;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.habilidades_list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.habilidad_chip {
  background-color: #e0f2ff;
  color: #004a75;
  border-radius: 16px;
  padding: 6px 12px;
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
}

.habilidad_chip:hover {
  background-color: #cbe9ff;
  transform: scale(1.05);
}


.avatar {
  width: 80px;
  height: 80px;
  background: #cfd8dc;
  border-radius: 50%;
}

.profile_info h3 {
  margin: 0;
}

.profile_info p {
  margin: 0.3rem 0;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

.btn_direccion {
  background: #114f5a;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, border 0.2s;
}

.btn_direccion:hover {
  background-color: #2ab1b8;
}

.botones_verticales {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 1rem;
}

.profile_section {
  background: #fff;
  margin-top: 1rem;
  padding: 1.2rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
}

.profile_section h4 {
  margin-bottom: 0.5rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}

.skill_tag {
  background: #f0f5f5;
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.review_item {
  display: flex;
  justify-content: space-between;
}

.stars {
  color: #0a6630;
  font-weight: bold;
}

.saludo {
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2rem;
}

.modify_profesiones_btn {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #114f5a;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.modify_profesiones_btn:hover {
  background-color: #2ab1b8;
}

.btns_trabajos {
  gap: 20px;
}

.no_trabajo {
  color: #666;
  font-style: italic;
  text-align: center;
  padding: 1rem 0;
}

.historial_trabajo {
  list-style: none;
  padding: 0;
}

.historial_trabajo li {
  padding: 0.8rem 0;
}

.divisor {
  height: 1px;
  background: #114f5a;
  margin-Top: 0.5rem 0;
}


.slide_section {
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  max-height: 0;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.slide_section.open {
  max-height: 1000px;
}

.slide_content {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.slide_content.visible {
  opacity: 1;
  transform: translateY(0);
}


h3 {
  margin-top: 0vh;
  margin-bottom: 0px;
}

.nombre_foto_perfil {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.foto_perfil {
  max-height: 50px;
  width: auto;
  border-radius: 60%;
  border: 1px solid #114f5a;
  box-shadow: 0px 0px 10px #466b71;
}

.usuario_info {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.ubicacion {
  color: #3f6066;
}

.profile_container {
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  font-family: "Inter", sans-serif;
  color: #0a2b2b;
}

.profile_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f7faf9;
  border-radius: 16px;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.avatar {
  width: 80px;
  height: 80px;
  background: #cfd8dc;
  border-radius: 50%;
}

.profile_info h3 {
  margin: 0;
}

.profile_info p {
  margin: 0.3rem 0;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

.btn_direccion {
  background: #114f5a;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, border 0.2s;
  width: 150px;
}

.btn_direccion:hover {
  background-color: #2ab1b8;
}

.botones_verticales {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 1rem;
}

.profile_section {
  background: #fff;
  margin-top: 1rem;
  padding: 1.2rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.profile_section h4 {
  margin-bottom: 0.5rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}

.skill_tag {
  background: #f0f5f5;
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.review_item {
  display: flex;
  justify-content: space-between;
}

.stars {
  color: #0a6630;
  font-weight: bold;
}

.saludo {
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2rem;
}

.no_trabajo {
  color: #666;
  font-style: italic;
  text-align: center;
  padding: 1rem 0;
}

.historial_trabajo {
  list-style: none;
  padding: 0;
}

.historial_trabajo li {
  padding: 0.8rem 0;
}

.divisor {
  height: 1px;
  background: #e0e0e0;
  margin: 0.5rem 0;
}


.slide_section {
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  max-height: 0;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.slide_section.open {
  max-height: 1000px;
}

.slide_content {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.slide_content.visible {
  opacity: 1;
  transform: translateY(0);
}

.section_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.edit_btn {
  background: none;
  border: none;
  color: #114f5a;
  font-size: 0.9rem;
  cursor: pointer;
  padding: 0.3rem 0.8rem;
  border-radius: 4px;
}

.edit_btn:hover {
  background: #f0f0f0;
}

.edit_desc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.edit_desc textarea {
  width: 100%;
  min-height: 100px;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: none;
  line-height: 1.6;
  overflow: hidden;
}

.save_btn {
  align-self: flex-end;
  background: #114f5a;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.save_btn:hover {
  background: #0d3f47;
}



@media (max-width: 1024px) {
  .profile_container {
    padding: 1.5rem;
  }

  .edit_desc {
    width: 60%;
  }

  .profile_header {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .botones_verticales {
    align-items: center;
  }

  .btn_propios,
  .btn_contratado {
    position: static;
    margin: 1rem 0;
    width: 90%;
    max-width: 320px;
  }

  .slide_section,
  .slide_content {
    max-width: 95%;
  }
}


@media (max-width: 780px) {
  .profile_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100%;
  }

  .profile_header {
    width: 90%;
    margin-bottom: 1rem;
    flex-direction: column;
    text-align: center;
    padding: 2rem 1rem;
  }

  .usuario_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
  }

  .usuario_info h3 {
    text-align: center;
    margin: 0.5rem 0;
  }

  .ubicacion {
    text-align: center;
    margin-bottom: 1rem;
  }

  .botones_verticales {
    width: 100%;
    align-items: center;
    margin-top: 1.5rem;
  }

  .btn_direccion {
    width: 80%;
    max-width: 300px;
  }

  .profile_section {
    width: 90%;
    max-width: 600px;
    margin: 1rem auto;
    text-align: center;
  }

  .skills {
    justify-content: center;
  }

  .review_item {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .slide_content {
    width: 90%;
    margin: 0 auto;
  }

  .historial_trabajo {
    text-align: center;
  }
}


@media (max-width: 480px) {
  .saludo {
    font-size: 1.4rem;
    margin-top: 75px;
  }

  .edit_desc {
    width: 20%;
  }

  .foto_perfil {
    max-height: 40px;
  }

  .nombre_foto_perfil {
    flex-direction: column;
    gap: 10px;
  }

  .profile_header {
    padding: 1.2rem 0.8rem;
  }

  .habilidad_chip {
    font-size: 0.8rem;
    padding: 4px 8px;
  }

  .btn_propios,
  .btn_contratado {
    width: 100%;
    left: 5%;
    right: 5%;
    bottom: 20px;
    height: 45px;
    font-size: 0.9rem;
  }

  .profile_section {
    padding: 1rem;
  }

  .edit_btn,
  .save_btn {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
    margin-right: -210px;
  }

  .skill_tag {
    font-size: 0.8rem;
  }

  .review_item {
    font-size: 0.9rem;
  }
}