.app-container {
  background-color: #114f5a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 130px;
  overflow-x: hidden;
  color: #fff;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile-wrapper {
  width: 100%;
  max-width: 1200px;
}

.perfil-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px 0;
}

.historial-card {
  background-color: white;
  color: #114f5a;
  width: 100%;
  max-width: 1000px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.historial-card h4 {
  margin-bottom: 20px;
}