.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px 60px;
  color: white;
  height:fit-content;
}

.logo_container {
  display: flex;
  align-items: center;
}

.logo_container img {
  height: 75px;
  width: auto;
  cursor: pointer;
}

.right_section {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav_buttons {
  display: flex;
  gap: 15px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
  }

  .logo_container {
    justify-content: center;
    height: 50%;
    width: 100%;
    align-items: center;
  }

  .right_section {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
  }

  .nav_buttons {
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

  .nav_buttons button {
    width: 100%;
    text-align: center;
  }
}