.navbar {
  display: flex;
  align-items: center;
  background-color: #114f5a;
  padding: 20px 60px;
  color: white;
  gap: 800px;
}

.logo_container {
  display: flex;
  align-items: center;
  height: 100px;
}

.logo {
  height: 100vh;
  width: auto;
  cursor: pointer;
}

.right_section {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 50px;
}

.nav_links {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
}

.nav_buttons {
  display: flex;
  gap: 15px;
}

.login_btn {
  background-color: #f8f0e3;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
}

.get_started_btn {
  background-color: #5d7262;
  border: none;
  color: white;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
}