.card-user {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 420px;
  height: 160px;
  background-color: #114f5a;
  border-radius: 35px;
  border: 1px solid #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

.user-info {
  display: flex;
  flex-direction: row;
  padding: 20px 20px;
  gap: 18px;
}

.img-perfil {
  margin-top: 5px;
  height: 50px;
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: cover;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

.parrafos {
  font-size: 13px;
}

.name {
  font-weight: bold;
  font-size: 16px;
  font-style: italic;
}

p {
  margin: 2px 0px;
}

.pie-card {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 20px;
}

.resenia {
  margin: 0 0;
  height: 25px;
}

.ver-perfil-btn {
  height: 25px;
  width: 80px;
  border: none;
  background-color: #114f5a;
  color: #f5edf0;
}

.ver-perfil-btn:hover {
  cursor: pointer;
  border-radius: 10px;
  background-color: #f5edf0;
  color: #114f5a;
}