body {
  margin: 0;
  background: #114f5a;
  color: #fff;
  font-family: system-ui;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#root {
  height: 100%;
  background-color: #114f5a;
  width: 100%;
}