.custom_btn {
  display: inline-flex;
  align-items: center;
  text-align: center;
  gap: 0.5em;
  margin-left: 1vh;
  padding: 0.5em 1.5em;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: background 0.2s, color 0.2s, border 0.2s;
}

.custom_btn.contained {
  background: #114f5a;
  font-size: 2vh;
  justify-content: center;
  font-weight: 700;
  height: 50px;
  color: #ffffff;
  border: 2px solid #114f5a;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}

.custom_btn.contained:hover {
  background: #2ab1b8;
  color: #fff;
  border-color: #2ab1b8;
}

.custom_btn.outlined {
  background: transparent;
  color: #90caf9;
  border: 2px solid #90caf9;
  text-align: center;
}

.custom_btn.outlined:hover {
  background: #e3f2fd;
  color: #2ab1b8;
  border-color: #2ab1b8;
}

.btn_icon {
  display: flex;
  align-items: center;
}

.btn_icon.end {
  margin-left: 0.5em;
}