body {
  padding-bottom: 40px;
}

p{
  font-family: "Zalando Sans Expanded"
}

h2{
  font-family: "Poppins"
}

.home-container {
  font-family: "Poppins", sans-serif;
  background-color: #114f5a;
  width: 100%;
  min-height: 100vh;
  color: white;
  margin: 0;
  padding: 0;
}

.divisor {
  height: 3px;
  background: #ffffff;
  width: 100%;
  border-radius: 2px;
}