.hero {
  position: relative; 
  display: flex;
  align-items: center;
  background-color: #114f5a;
  padding: 80px;
  color: white;
  text-align: center;
  min-height: 80vh; 
}

.register-container {
  height: 10vh; 
  margin-bottom: 10vh;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.button-register-hero{
  gap: 0.5em;
  margin-top: -20vh;
  margin-left: 1vh;
  padding: 0.5em 1.5em;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  background: #ffffff;
  color: #114f5a;
  border: 2px solid #ffffff;
  border-radius: 15px;
  text-align: center;
  place-items: center;
  height: 7.5vh; 
  display: flex;
  justify-content: center; 
  align-items: center;
  transition: background 0.5s, color 0.5s, border 0.5s;
}

.button-register-hero:hover {
  background: #b6c1c2;
  color: #114f5a;
  border-color: #b6c1c2;
}

.hero_text p {
  font-size: 1.4rem;
  margin-bottom: 30px;
  letter-spacing: 5px;
  word-spacing: 3px;
}

.hero_text h2 {
  font-size: 2.2em;
  width: 75%;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 50px;
  letter-spacing: 10px;
  word-spacing: 4px;
  line-height: 1.4;
}

.text_logo {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 75px;
  position: relative;
  left: -100px;
}

.logo_container {
  position: relative;
  display: inline-block;
}

.logo {
  height: 75px;
}

.paper_plane {
  position: relative;
  bottom: 250px;
  left: 550px;
  width: 100px;
  height: 100px;
}

.paper_plane img {
  object-fit: contain;
}

.hero_image {
  width: 1500px;
  height: 450px;
  border-radius: 20px;
  overflow: hidden;
}

.hero_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card_info {
  margin: 20px;
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  max-width: 600px;
  color: #114f5a;
  display: flex;
  align-items: center;
  gap: 20px;

}

.card_info.izq {
  margin-left: 0;
  margin-right: auto;
}

.card_info.der {
  margin-left: auto;
  margin-right: 0;
}

.text_info {
  font-size: 1.25rem;
  margin-top: 50px;
  margin-bottom: 80px; 
  padding: 0 40px;
  color: #114f5a;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

.text_info p {
  margin-bottom: 25px;
}

.vacio {
  height: 50px; 
}

.img_work {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 40px 20px;
    text-align: center;
  }

  .hero_text h2 {
    font-size: 1.5rem;
    width: 100%;
    letter-spacing: 5px;
    word-spacing: 2px;
  }

  .hero_text p {
    font-size: 1rem;
  }

  .text_logo {
    flex-direction: column;
    left: 0;
    margin-top: 30px;
  }

  .logo {
    height: 120px;
  }


  .paper_plane {
    position: static;
    margin-top: 20px;
  }

  .hero_image {
    width: 100%;
    height: auto;
    border-width: 3px;
  }

  .card_info {
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%;
    padding: 20px;
  }

  .img_work {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin-top: 20px;
  }

  .text_info {
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
  }

  .text_info p {
    margin-bottom: 20px;
  }
}