.hero {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #114f5a;
  padding: 80px;
  color: white;
  gap: 60px;
  text-align: center;
}

.hero_text p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
  word-spacing: 3px;
}

.hero_text h2 {
  font-size: 2rem;
  width: 100%;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 50px;
  letter-spacing: 10px;
  word-spacing: 4px;
  line-height: 1.4;
}

.text_logo {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 75px;
}

.logo_container {
  position: relative;
  display: inline-block;
}

.logo {
  height: 60px;
}

.paper_plane {
  position: relative;
  bottom: 250px;
  left: 235px;
}

.paper_plane img {
  object-fit: contain;
}

.hero_image {
  width: 800px;
  height: 450px;
  border-radius: 20px;
  overflow: hidden;
  border: 5px solid #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.hero_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}