.star-rating {
  display: inline-flex;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 10px;
}

.star-rating span {
  transition: color 0.2s ease, transform 0.2s ease;
}

.star-rating .filled {
  color: #1b7b8c;
  transform: scale(1.1);
}

.star-rating .empty {
  color: lightgray;
}

.star-rating span:hover {
  transform: scale(1.2);
}

/* ----------- CARD CONTAINER ----------- */
.container_trabajos_card {
  width: 100%;
}

/* ----------- FINALIZADOS ----------- */
.trabajos_container_finalizados {
  display: flex;
  flex-direction: column;
}

.trabajos_info_container_finalizados {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  padding: 0px 20px;
}

/* ----------- PENDIENTES ----------- */
.trabajos_container_pendientes {
  display: flex;
  flex-direction: column;
}

.trabajos_info_container_pendientes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  padding: 0px 20px;
}

.btn_finalizar_trabajo {
  height: 40px;
  border-radius: 20px;
  padding: 0px 15px;
  background-color: #114f5a44;
  color: #114f5a;
  border: 1px solid #114f5a;
  transition: 0.2s;
  cursor: pointer;
  white-space: nowrap;
}

.btn_finalizar_trabajo:hover {
  background-color: #114f5a7a;
  color: #fff;
}

/* ----------- RESPONSIVE ----------- */

@media (max-width: 900px) {
  .trabajos_info_container_finalizados,
  .trabajos_info_container_pendientes {
    flex-direction: column;
    gap: 5px;
    padding: 0px 10px;
  }
}

@media (max-width: 600px) {
  .trabajos_info_container_finalizados p,
  .trabajos_info_container_pendientes p {
    font-size: 0.9rem;
  }

  .btn_finalizar_trabajo {
    width: 100%;
    text-align: center;
  }
}