.trabajos_container_finalizados {
  display: flex;
  flex-direction: column;
}

.trabajos_info_container_finalizados {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 30px;
}

.trabajos_container_pendientes {
  display: flex;
  flex-direction: column;
}

.trabajos_info_container_pendientes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 30px;
}

.btn_finalizar_trabajo {
  height: 40px;
  border-radius: 20px;
  padding: 0px 15px;
  background-color: #114f5a44;
  color: #114f5a;
  border: 1px solid #114f5a;
  transition: 0.2s;
  cursor: pointer;
}

.btn_finalizar_trabajo:hover {
  background-color: #114f5a7a;
  color: #fff;
  border: 1px solid #114f5a;
}