.logo{
  width: 250px;
  height: auto;
  margin-bottom: 0;
  margin-left: 0;
  position: relative;
}

.input_container {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}

.input_label {
  position: absolute;
  left: 0;
  top: 2px;
  color: #aaa;
  transition: all 0.2s;
  pointer-events: none;
}

.input_field {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid #666;
  color: #0B5357;
  padding: 12px 0 6px 0;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s;
}

.input_field:focus {
  border-bottom: 2px solid #3498db;
}

.input_label.floating {
  top: -18px;
  font-size: 0.85rem;
  color: #3498db;
}