.logo {
  width: 250px;
  height: auto;
  margin-bottom: 0;
  margin-left: 0;
  position: relative;
}

.input_container {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
  color: #f9f8f3
}

.input_label {
  padding-left: 20px;
  padding-top: 5px;
  position: absolute;
  left: 0;
  top: 2px;
  color: #114f5a;
  transition: all 0.2s;
  pointer-events: none;
}

.input_field {
  box-sizing: border-box;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid #114f5a;
  color: #114f5a;
  padding: 12px 0px 6px 20px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s;
}

.input_field:focus {
  border-bottom: 2px solid #2ab1b8;
}

.input_label.floating {
  top: -23px;
  left: -20px;
  font-size: 0.85rem;
  color: #2ab1b8;
}

.input_field.input_date::-webkit-datetime-edit {
  color: transparent;
  /* invisible por defecto */
}

.input_field.input_date:focus::-webkit-datetime-edit {
  color: #114f5a;
  /* visible en negro con foco */
}


.input_field.input_date:valid::-webkit-datetime-edit {
  color: #114f5a;
}

.input_field.input_date::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

/* Firefox */
@-moz-document url-prefix() {
  .input_field.input_date {
    color: transparent;
  }

  .input_field.input_date:focus,
  .input_field.input_date:valid {
    color: #114f5a;
  }
}